.intro-portifolio{
	background-image: url("../img/bg-geral.jpg");
	background-position: center;
	background-size: cover;
}

.mensagem-cliente blockquote p, .mensagem-cliente ul li{
	color: black;
	text-align: center;
	font-style: italic;
	font-size: 16px;
	line-height: 25px;
}

.portifolio p{
	text-align: center;
	font-size: 26px;
	padding: 45px;
}

.portifolio ul li{
	padding-bottom: 15px;
}