.intro-sobre{
	background-image: url("../img/bg-geral.jpg");
	background-position: center;
	background-size: cover;
}

.enfase{
	font-style: italic;
	font-weight: bold;
}

.left{
	text-align: left;
}

.historia-sobre{
	padding-top: 60px;
	text-align: justify;
}

.historia-sobre p, .historia-sobre li{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 50px; 
}

.foto-equipe{
	padding-top: 40px;
	width: 100%;
}

